[submodule "seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "lib/robin-hood-hashing"]
	path = lib/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "lib/raptor"]
	path = lib/raptor
	url = https://github.com/seqan/raptor.git
[submodule "lib/raptor_data_simulation"]
	path = lib/raptor_data_simulation
	url = git@github.com:eaasna/raptor_data_simulation.git
[submodule "lib/stellar3"]
	path = lib/stellar3
	url = git@github.com:seqan/stellar3.git
[submodule "lib/seqan"]
	path = lib/seqan
	url = git@github.com:seqan/seqan.git
[submodule "lib/sharg"]
	path = lib/sharg
	url = https://github.com/seqan/sharg-parser.git
