[submodule "seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3.git
	branch = master
[submodule "lib/seqan"]
	path = lib/seqan
	url = git@github.com:seqan/seqan.git
[submodule "lib/sharg"]
	path = lib/sharg
	url = https://github.com/seqan/sharg-parser.git
