# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Build directory
/build/
/debug

# Metadata files
all_bin_paths.txt
bin_paths*.txt
example_data/*


# Output files
matches*
binary_*

# Presentation files
visualisations/*

# VisualStudio files
.idea/*
.vscode/*
